

VITE_SUPABASE_URL=https://jcjdxrfwjulkftfmbpeh.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_YzkLw_us-vmGCoVQ1iqekA_aDHXinhq
VITE_SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImpjamR4cmZ3anVsa2Z0Zm1icGVoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NjEyMTQ2NiwiZXhwIjoyMDkxNjk3NDY2fQ.DObBPAXmu4hOtGDamyS7J_6Tm_8uOSNMbW54D6-m4p4
